USE [master]
GO
/****** Object:  Database [AracLazim]    Script Date: 5.01.2022 21:41:46 ******/
CREATE DATABASE [AracLazim]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AracLazim', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\AracLazim.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'AracLazim_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\AracLazim_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AracLazim].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AracLazim]
GO
/****** Object:  Table [dbo].[Araba]    Script Date: 5.01.2022 21:41:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Araba](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Plaka] [nvarchar](10) NOT NULL,
	[Marka] [nvarchar](30) NOT NULL,
	[Model] [nvarchar](30) NOT NULL,
	[Kilometre] [bigint] NOT NULL,
	[GunlukKMSinir] [int] NOT NULL,
	[GunlukFiyat] [float] NOT NULL,
	[Resim] [nvarchar](100) NOT NULL,
	[Aciklama] [nvarchar](500) NULL,
	[Airbag] [bit] NOT NULL,
	[BagajHacmi] [int] NULL,
	[KoltukSayisi] [tinyint] NOT NULL,
	[YakitTuru] [nvarchar](30) NOT NULL,
	[SanzimanTuru] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_Araba_1] PRIMARY KEY CLUSTERED 
(
	[ID] ASC,
	[Plaka] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Calisan]    Script Date: 5.01.2022 21:41:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Calisan](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TC] [nvarchar](11) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[Sifre] [nvarchar](50) NOT NULL,
	[Isim] [nvarchar](50) NOT NULL,
	[Soyisim] [nvarchar](50) NOT NULL,
	[Telefon] [nvarchar](11) NOT NULL,
 CONSTRAINT [PK_Calisan_1] PRIMARY KEY CLUSTERED 
(
	[ID] ASC,
	[TC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KiralamaIslemi]    Script Date: 5.01.2022 21:41:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KiralamaIslemi](
	[IslemID] [int] IDENTITY(1,1) NOT NULL,
	[AracID] [int] NOT NULL,
	[MusteriID] [int] NOT NULL,
	[KiralamaBaslangici] [date] NOT NULL,
	[KiralamaBitisi] [date] NOT NULL,
	[BaslangicKM] [bigint] NOT NULL,
	[TeslimKM] [bigint] NULL,
	[AlinanUcret] [float] NOT NULL,
	[Durum] [bit] NULL,
 CONSTRAINT [PK_KiralamaIslemi] PRIMARY KEY CLUSTERED 
(
	[IslemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Musteri]    Script Date: 5.01.2022 21:41:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Musteri](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TC] [nvarchar](11) NOT NULL,
	[Isim] [nvarchar](50) NOT NULL,
	[Soyisim] [nvarchar](50) NOT NULL,
	[Telefon] [nvarchar](11) NOT NULL,
	[Adres] [nvarchar](200) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[EhliyetYasi] [tinyint] NOT NULL,
	[Yas] [tinyint] NOT NULL,
 CONSTRAINT [PK_Musteri_1] PRIMARY KEY CLUSTERED 
(
	[ID] ASC,
	[TC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Yonetici]    Script Date: 5.01.2022 21:41:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Yonetici](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TC] [nvarchar](11) NOT NULL,
	[Email] [nvarchar](40) NOT NULL,
	[Sifre] [nvarchar](40) NOT NULL,
	[Isim] [nvarchar](50) NOT NULL,
	[Soyisim] [nvarchar](50) NOT NULL,
	[Telefon] [nvarchar](11) NOT NULL,
 CONSTRAINT [PK_Yonetici_1] PRIMARY KEY CLUSTERED 
(
	[TC] ASC,
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
